@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    /* Primary */
    --Blue: hsl(223, 87%, 63%);
    /* Secondary */
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    /* Neutral */
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.page-container{    
    width: 40.3125rem;
    margin: 10.5rem auto 14.875rem;
    overflow: hidden;
}
.page__suscription{
    height: 30.25rem;
    margin-bottom: 8.75rem;
    text-align: center;
}
.page__suscription__logo-container{
    position: relative;
    height: 123px;
}
.page__suscription__logo{
    position: absolute;
    width: 111px;
    height: 2.3125rem;
    left: 265px;
}
.page__suscription__title{
    font-size: 44px;
    margin-bottom: 40px;
}
.page__suscription__title--gray{
    color: var(--Gray);
    font-weight: 400;
}
.page__suscription__subtitle{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 60px;
}
.page__suscription__form{
    width: 566px;
    height: 174px;
    margin: 0 auto;
}
.page__suscription__form__input,
.page__suscription__form__button{
    width: 562px;
    height: 78px;
    border-radius: 50px;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
}
.page__suscription__form__input{
    margin-bottom: 18px;
    border: 2px solid var(--PaleBlue);
    font-size: 24px;
    padding-left: 30px; 
}
.page__suscription__form__input::placeholder{
    color: var(--PaleBlue);
}
.page__suscription__form__button{
    border: none;
    background: var(--Blue);
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.page__preview{
    height: 24.6875rem;
}
.page__preview__img{
    width: 100%;
    height: 100%;
}
.page__footer{
    width: 40.3125rem;
    text-align: center;
    font-size: 18px;
    margin: 0 auto 3.8125rem;
    overflow: hidden;
}
.footer__social-icons-container{
    height: 62px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 56px;
    gap: 24px;
}
#icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid var(--Gray);
    padding: 10px;
    fill: var(--Blue);
}
.footer__attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}