@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    /* Primary */
    --Blue: hsl(223, 87%, 63%);
    /* Secondary */
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    /* Neutral */
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.page-container{    
    width: 40.3125rem;
    margin: 10.5rem auto 14.875rem;
}
.page__suscription{
    height: 30.25rem;
    margin-bottom: 8.75rem;
    text-align: center;
}
.page__suscription__logo-container{
    position: relative;
    height: 7.6875rem;
}
.page__suscription__logo{
    position: absolute;
    width: 9.375rem;
    height: 3.125rem;
    left: 17.1875rem;
}
.page__suscription__title{
    font-size: 2.75rem;
    margin-bottom: 2.5rem;
}
.page__suscription__title--gray{
    color: var(--Gray);
    font-weight: 400;
}
.page__suscription__subtitle{
    font-size: 1.625rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
}
.page__suscription__form{
    width: 35.375rem;
    height: 10.875rem;
    margin: 0 auto;
}
.page__suscription__form__input,
.page__suscription__form__button{
    width: 35.125rem;
    height: 4.875rem;
    border-radius: 3.125rem;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
}
.page__suscription__form__input{
    margin-bottom: 1.125rem;
    border: .125rem solid var(--PaleBlue);
    font-size: 1.5rem;
    padding-left: 1.875rem; 
}
.suscription__error-message{
    color: var(--LightRed);
    margin-bottom: 3rem;
}
.page__suscription__form__input::placeholder{
    color: var(--PaleBlue);
}
.page__suscription__form__button{
    border: none;
    background: var(--Blue);
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}
.page__suscription__form__button:hover{
    cursor: pointer;
}
.page__preview{
    height: 24.6875rem;
}
.page__preview__img{
    width: 100%;
    height: 100%;
}
.page__footer{
    width: 40.3125rem;
    text-align: center;
    font-size: 1.125rem;
    margin: 0 auto;
}
.footer__social-icons-container{
    height: 3.875rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3.5rem;
    gap: 1.5rem;
}
#icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .0625rem solid var(--Gray);
    padding: .625rem;
    fill: var(--Blue);
}
#icon:hover{
    background-color: var(--Blue);
    fill: white;
}
.footer__attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
@media (min-width:75rem){
    .page-container{
        min-height: 46.875rem;
        margin: 5.3125rem auto 4.125rem;
    }
    .page__suscription{
        height: 18.75rem;
        margin: 0 0 5rem 0;
    }
    .page__suscription__logo-container{
        height: 5.3125rem;
    }
    .page__suscription__logo{
        width: 6.3125rem;
        height: 2.4375rem;
    }
    .page__suscription__title{
        font-size: 3.125rem;
        margin-bottom: 1.25rem;
    }
    .page__suscription__subtitle{
        font-size: 1.3125rem;
        margin-bottom: 2.5rem;
    }
    .page__suscription__form{
        margin: 0;
        width: 100%;
        min-height: 3.5rem;
        position: relative;
    } 
    .page__suscription__form__input{
        width: 26.25rem;
        height: 3.5rem;
        font-size: 1rem;
        margin-right: .875rem;
        position: absolute;
        left: 0;
    }
    .page__suscription__form__button{
        width: 12.5rem;
        height: 3.5rem;
        position: absolute;
        right: 0;
    }
    .page__footer{
        font-size: .75rem;
        margin-bottom: 0;
    }
    .footer__social-icons-container{
        height: 2rem;
        margin-bottom: 1.375rem;
    }
    #icon{
        width: 2rem;
        height: 2rem;
        padding: .375rem;
    }
    .suscription__error-message{
        font-size: .75rem;
        text-align: left;
        margin: 0;
        position: absolute;
        left: 2rem;
        top: 4.875rem;
        display: inline;
    }
}